@import "./animations.scss";

.image-section {
  display: flex;
  margin-bottom: 6rem;
  width: 70%;
  margin: auto;
  @media screen and (max-width: 1024px) {
    margin-left: 2.5rem;
  }

  .img {
    position: relative;
    animation-name: moveInRight;
    animation-duration: 1.5s;

    img {
      width: 25rem;
      object-fit: cover;
      height: 100%;
      border-radius: 2rem 4rem;
      overflow: hidden;
      @media screen and (max-width: 500px) {
        width: 15rem;
        margin-top: -7rem;
      }
    }

    &::before {
      content: "";
      border: 1px solid #64ffda;
      width: 100%;
      height: 100%;
      position: absolute;
      box-sizing: border-box;
      top: -10px;
      left: -10px;
      animation-name: moveInRight;
      animation-duration: 1.5s;
      @media screen and (max-width: 500px) {
        width: 15rem;
        height: 10rem;
        top: -7.5rem;
        left: 1rem;
      }
      // }
      // @media screen and (max-width: 1400px) {
      //   max-width: 48%;
      // }
    }

    &::after {
      content: "";
      border: 1px solid #64ffda;
      width: 100%;
      height: 100%;
      position: absolute;
      box-sizing: border-box;
      right: -5px;
      bottom: -5px;
      animation-name: moveInRight;
      animation-duration: 1.5s;
      @media screen and (max-width: 500px) {
        width: 15rem;
        height: 10rem;
        top: -7rem;
        left: 0.4rem;
      }
      @media screen and (min-width: 1025px) and (max-width: 1400px) {
        max-width: 48%;
        left: 5px;
        bottom: -3px;
      }

      @media screen and (min-width: 769px) and (max-width: 1024px) {
        max-width: 60%;
        left: 5px;
        bottom: -3px;
      }
    }

    &:hover::before {
      top: 0;
      left: 0;
      border: 1px solid #64ffda;
      transition: all 0.3s linear;
      border-radius: 2rem 4rem;
      @media screen and (max-width: 500px) {
        border-radius: 0;
        transition: none;
        top: -7.5rem;
        left: 1rem;
      }
    }

    &:hover::after {
      border-radius: 2rem 4rem;
      transition: all 0.3s linear;
      @media screen and (max-width: 500px) {
        border-radius: 0;
        transition: none;
      }
    }
  }

  .about-info {
    margin-left: 2.3rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;

    h4 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    span {
      color: #64ffda;
    }

    .btn {
      button {
        margin-top: 2rem;
        padding: 0.6rem;
        background: none;
        border: 1px solid #64ffdb5e;
        color: #ccd6f6;
        width: 10rem;
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 7rem 3rem;
        outline: none;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          margin-bottom: 2rem;
        }
      }

      button:hover {
        background: #64ffdb1a;
      }
    }
  }

  .story-datails {
    p {
      line-height: 2rem;
      font-weight: 500;
      @media screen and (max-width: 500px) {
        font-size: 1rem;
        text-align: justify;
      }

      span {
        color: #64ffda;
      }
    }
  }

  .line {
    width: 2px;
    background-color: white;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1400px) {
  .image-section {
    display: flex;
    flex-direction: column;
    .about-info {
      margin-left: 0;
      margin-top: 1rem;
    }
    @media screen and (max-width: 1024px) {
      .about-info {
        width: 30rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .image-section {
    display: flex;
    flex-direction: column;
    .about-info {
      margin-left: 0;
      margin-top: 1rem;
    }
    @media screen and (max-width: 500px) {
      .about-info {
        width: 20rem;
      }
    }
  }
}
