@import "./variables.scss";
@import "./animations.scss";

.projects-page {
  .projects {
    width: 70%;
    margin: auto;

    .single-project {
      display: flex;
      height: 20rem;
      margin-top: -3rem;
      animation-name: opacity;
      animation-duration: 1.5s;
    }

    .single {
      height: 100%;
      border: 2px solid $border;
      margin-right: 4%;
      border-radius: 5px;

      .single-data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        background-color: #5266857c;
        text-align: center;
        max-height: 100%;

        .description {
          width: 300%;
          position: absolute;
          height: 100%;
          top: 0rem;
          left: 20rem;
          border: 2px dashed #ccd6f6a4;
          transition: all 0.2s ease-in;
          animation-name: moveInRight;
          animation-duration: 1.5s;

          p {
            text-align: left;
            margin: 1.4rem;
            line-height: 2rem;
            font-weight: 500;
            color: $bodyColor;
          }

          .project-content {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 3.5rem;

            .techs {
              margin-left: 2rem;
              font-size: 0.9rem;
              font-family: "Arial";
              color: $primaryColor;
            }

            .links-project {
              .github-project,
              .play-project {
                text-decoration: none;
                color: $bodyColor;
                font-size: 1.5rem;
                margin-right: 1rem;
                transition: all 0.2s ease-in;

                &:hover {
                  color: $primaryColor;
                }
              }
              .play-project {
                margin-right: 2rem;
                margin-left: 0.5rem;
              }
            }
          }
        }

        img {
          width: 15rem;
          max-height: 17rem;
          object-fit: cover;
          border-radius: 5%;
          margin-bottom: 0.5rem;

          &:hover {
            cursor: pointer;
          }
        }

        h4 {
          margin-top: 0rem;
          margin-bottom: 0.7rem;

          &:hover {
            color: $primaryColor;
            cursor: pointer;
          }
        }
      }
    }

    .labels {
      display: flex;
      margin: auto;
      height: 5rem;
      justify-content: flex-start;
    }
  }

  .btns {
    margin: -2.4rem 0 0 59rem;

    .btn {
      margin-right: 2rem;
      padding: 0.4rem;
      background: none;
      color: #ccd6f6;
      width: 6rem;
      font-size: 0.7rem;
      font-weight: 600;
      border-radius: 7rem 3rem;
      outline: none;
      transition: all 0.5s;
      border: 1px solid #64ffdba2;
      color: inherit;
    }

    .btn:hover {
      background: #64ffdb1a;
      border: 1px solid #64ffda;
      color: white;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

@media (max-width: 320px) {
  .projects-page {
    .title-project {
      margin-left: -3rem;
    }
    .projects {
      .single-project {
        margin-left: -6rem;
        margin-top: -6rem;
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .single {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
