@import './variables.scss';
@import './animations.scss';

.skill-section {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0rem auto;
  justify-content: center;
  animation-name: moveInLeft;
  animation-duration: 2s;
  @media screen and (max-width: 500px) {
    margin-left: 3rem;
    // background-color: red;
    width: 80%;
  }

  // @media screen and (max-width: 1024px) {
  //   width: 30rem;
  //   margin-left: 8rem;
  //   margin-top: -3.5rem;
  // }
  // @media screen and (max-width: 768) {
  //   width: 30rem;
  //   margin-left: 8rem;
  //   margin-top: -3.5rem;
  // }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 500px) {
      width: 4rem;
    }

    .icon {
      margin-right: 1.2rem;
      font-size: 4.5rem;
      transition: all 0.15s ease-in;

      @media screen and (max-width: 768px) {
        font-size: 3rem;
        margin-bottom: 5rem;
        margin-top: -4rem;
      }
    }

    span {
      font-size: 1rem;
      visibility: hidden;
      margin: -2rem 0 1rem -1.5rem;
    }

    // .icon:hover {
    //   color: #a5f1e0ca;
    //   transform: scale(1.2);
    //   margin: 0 1.2rem;
    // }

    &:hover span {
      visibility: visible;
      @media screen and (max-width: 500px) {
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .icon {
    .icon:hover {
      transform: none;
    }
  }
}
