@import "./variables.scss";

.title {
  width: 70%;
  height: 5rem;
  margin: 5rem auto;
  @media screen and (max-width: 500px) {
    margin: 4rem 0 8rem 3.5rem;
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    margin-left: 2rem;
  }
  @media screen and (min-width: 501px) and (max-width: 768px) {
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
  }

  h1 {
    font-size: 2.8rem;
    color: white;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
    position: relative;
    @media screen and (max-width: 500px) {
      font-size: 2.3rem;
    }
    @media screen and (min-width: 501px) and (max-width: 768px) {
      font-size: 2.3rem;
    }
  }

  span {
    position: absolute;
    top: 5%;
    left: 0%;
    font-size: 5rem;
    opacity: 0.12;
    color: #eceef18a;
    font-weight: bold;
    @media screen and (max-width: 1024px) {
      font-size: 2.7rem;
      top: 1.6rem;
      left: 2rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }
}

@media (max-width: 320px) {
  .title {
    h1 {
      font-size: 2.5rem;
      margin-left: -3rem;
    }
    span {
      font-size: 3rem;
      top: 40%;
      left: 0%;
    }
  }
}
